<!DOCTYPE html>
<html>
<head>
	<!--Metas-->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Title-->
	<title>{{ data["title"] }} - Contact System</title>

	<!--Estilos Importados-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

	<!--Estilos Mios-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
	{% block estilos %}	
	{% endblock %}
	
	<!--Scripts-->
	<script src="https://kit.fontawesome.com/9d5a264107.js" crossorigin="anonymous"></script>
	<!--Favicon-->
	<link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}" type="image/svg+xml">
</head>
<body>
	<!--Menú de navegación-->
	{% block nav %}	
	{% endblock %}

	{% block content %}
	{% endblock %}

	<!--JavaScript-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>