{% extends "layout.html" %}
{% from "_nav.html" import navUserAdmin %}
{% from "_macros.html" import flashed %}
	
	{% block nav %}	
	{{ navUserAdmin() }}
	{% endblock %}

	{% block content %}
	<div class="container">
		<h1 class="content__title">Users</h1>
		<a class="btn btn-primary" href="{{ url_for('userSite.singUp') }}" role="button">Create New User</a>
		{{ flashed() }}
		<table class="container table">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Name</th>
		      <th scope="col">email</th>
		      <th scope="col">Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{%for i in data["users"] %}
		    <tr>
		      	<th scope="row">{{ i[0] }}</th>
		      	<td>{{ i[1] }}</td>
		    	<td>{{ i[3] }}</td>
		    	<td>
		      		<ul class="d-grid gap-3 colum d-flex nav nav-pills">
					  <li class="nav-item">
					    <a class="btn btn-primary" aria-current="page" href="#">Read</a>
					  </li>
					  <li class="nav-item">
					    <a class="btn btn-info" href="/upd-user/{{ i[0] }}">Edit</a>
					  </li>
					  <li class="nav-item">
					  	<form>
					    <a class="btn btn-danger" href="/del-user/{{ i[0] }}">Delete</a>
					  	</form>
					  </li>
					</ul>
		      </td>
		    </tr>
			{%endfor%}
		  </tbody>
		</table>
	</div>
	{% endblock %}